button {
    background-color: rgb(102, 180, 92);
    border: ridge;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
  }